files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000600"
    owner: root
    group: root
    content: |
        {
            "agent": {
                "debug": false,
                "logfile": "/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log",
                "metrics_collection_interval": 60
            },
            "metrics": {
                "metrics_collected": {
                    "collectd": {},
                    "disk": {
                        "measurement": [
                            "disk_used_percent",
                            "disk_free",
                            "disk_used"
                        ],
                        "metrics_collection_interval": 1,
                        "resources": [
                            "*"
                        ]
                    },
                    "mem": {
                        "measurement": [
                            "mem_used_percent",
                            "mem_used",
                            "mem_available"
                        ],
                        "metrics_collection_interval": 1
                    }
                },
                "append_dimensions": {
                    "InstanceId": "${aws:InstanceId}",
                    "InstanceType": "${aws:InstanceType}"
                }

            }
        }


container_commands:
    01_install_epel:
        command: sudo amazon-linux-extras install epel -y
    02_install_collectd:
        command: sudo yum install -y collectd
    03_run_cw_agent:
        command: sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
    04_restart_cw_agent:
        command: sudo systemctl restart amazon-cloudwatch-agent.service
